/Buscaminas/nbproject/private/
/Buscaminas/build/
/BuscaminasCliente/nbproject/private/
/CommonBuscaminas/nbproject/private/
/CommonBuscaminas/build/
/BuscaminasCliente/build/
/CommonBuscaminas/dist/
/BuscaminasCliente/dist/
/Buscaminas/dist/